body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  padding: 10px 0;
  color: #666f64;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}
.header .header-body {
  background: #e3e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-navbar {
  display: flex;
  height: 100%;
}
.header .header-navbar .navbar-item__link {
  color: #000;
  display: block;
  padding: 10px 20px;
}
.header .header-logo__link {
  padding: 4px;
}
.header .header-menu__logo {
  width: 34px;
  height: 42px;
  display: block;
  background: no-repeat url("../img/liverpool-logo.svg");
  background-size: cover;
}
.header .header-navbar-item.matches {
  position: relative;
}
.header .header-navbar-item.matches:hover .header-dropdown {
  display: block;
}
.header .header-navbar-item.matches .header-dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  display: none;
}
.header .header-dropdown__link {
  width: 150px;
  color: #000;
  display: block;
  padding: 10px;
}
.header .header-dropdown__link:hover {
  background: rgba(0, 0, 0, 0.1);
}
.header .header-dropdown__link:nth-child(1) {
  background: rgba(34, 47, 34, 0.1);
  border-bottom: 1px solid #000;
}

main {
  margin-bottom: 15px;
  padding-top: 50px;
}
main .main__img {
  width: 100%;
  height: 640px;
  background: url("../img/main.jpeg");
  background-size: cover;
}
main .main-history__text {
  font-size: 16px;
  line-height: 1.5;
}
main .main-history__text span {
  padding: 5px 0;
  display: block;
  color: #21c19b;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.honours .honours__title {
  border-top: 1px solid rgba(241, 137, 123, 0.7);
}
.honours .honours__title span {
  color: #21c19b;
  font-style: italic;
}
.honours .honours-cups {
  display: flex;
  flex-wrap: wrap;
}
.honours .honours__item {
  padding: 10px;
  flex-basis: 50%;
}
.honours .honours-cups__title {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.honours .honours-cups__img {
  width: 100%;
  height: 300px;
}
.honours .honours-cups__img.champion-league {
  background: url("../img/champion_league.jpg") center;
  background-size: cover;
}
.honours .honours-cups__img.super-cup {
  background: url("../img/super_cup.jpg") center;
  background-size: cover;
}
.honours .honours-cups__img.world-cup {
  background: url("../img/world_cup.jpg") center;
  background-size: cover;
}
.honours .honours-cups__img.premier-league {
  background: url("../img/premier_league.png") center;
  background-size: cover;
}

.footer {
  padding-top: 10px;
}
.footer .footer-body {
  padding: 23px 0;
  border-top: 1px solid rgba(241, 137, 123, 0.7);
  display: flex;
  justify-content: space-between;
}
.footer .footer-body__author a {
  color: #21c19b;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
}
.footer .footer-body-links {
  display: flex;
}
.footer .footer-body-links .footer-body-links__item:not(:last-child) {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
